:root {
    --title-font: "Chakra Petch", system-ui, sans-serif;
    --text-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --subtitle-font: "Rajdhani", system-ui, sans-serif;
    --red-color: #cc0000;
    --text-color: #94a3b8;
    --white-color: #fff;
    --grey-color: #96999d;
    --border-radius: 8px;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --border-grey: 1px solid #FFFFFF1A;
    --redbg-hover: #bf0000;
    --red-gradient: linear-gradient(to right, var(--red-color) 0%, rgba(255, 0, 59, 0.6) 100%);
    --dark-bg: #0a0d12;
}

/* AFTER TITLES GRADIENT ADD
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
*/

*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{ height:100%; }

body{
    background-color: var(--dark-bg);
    overflow-x: hidden;
}

.main_container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.main_title{
    max-width: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: var(--padding-bottom);
}

.main_title h1{
    color: var(--white-color);
    font-size: 96px;
    font-family: var(--title-font);
    font-style: italic;
    line-height: 0.8;
    text-transform: uppercase;
}

.main_title h1 span{
    background: var(--red-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main_title h2{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

.main_title h2 span{
    font-weight: 400;
}

/* CALENDAR */

.calendar_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.race{
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.raceinfo_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 24px;
}

.racenumber_container{
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 180px;
    width: 100%;
}

.racenumber_container img{
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
}

.racenumber_container p{
    font-size: 16px;
    font-family: var(--title-font);
    color: var(--white-color);
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
}

.racename_container{
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.racename_container h3{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 24px;
    text-transform: uppercase;
}

.race_location{
    display: flex;
    align-items: center;
    gap: 12px;
}

.race_location p{
    color: var(--grey-color);
    font-family: var(--text-font);
    font-size: 14px;
    line-height: 1.3;
}

.race_location svg{
    width: 14px;
    height: 14px;
}

.racedate_container{
    max-width: 250px;
    width: 100%;
}

.racedate{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.racedate svg{
    width: 16px;
    height: 16px;
}

.racedate p{
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}

.racetime_container{
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.racetime{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.racetime svg{
    width: 16px;
    height: 16px;
}

.racetime p{
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
}

.hs_cont{
    display: flex;
    align-items: flex-start;
    padding-left: 29px;
    gap: 6px;
}

.hs_cont img{
    width: 15px;
    height: 15px;
}

.hs_cont .hs{
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 12px;
    line-height: 1.3;
    font-weight: 600;
    text-align: left;
}

.start{
    color: var(--white-color);
    font-family: var(--text-font);
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    text-align: left;
    padding-left: 28px;
}

.racestatus_container{
    max-width: 120px;
    width: 100%;
    display: flex;
    gap: 12px;
}

.racestatus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 4px 12px;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid var(--red-color);
    border-radius: var(--border-radius);
}

.racestatus p{
    font-family: var(--text-font);
    color: var(--red-color);
    font-size: 14px;
    font-weight: 600;
}

.racestats_container{
    background-color: #000;
    width: 100%;
    border-radius: 0 0 12px 12px;
    padding: 24px;
}

.racestats{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.racestat{
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.stat{
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
}

.stat p{
    color: var(--grey-color);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.value{
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-left: 36px;
}

.value_pilot{
    color: var(--white-color);
    font-family: var(--text-font);
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    text-align: left;
    padding-left: 36px;
}

.sprint_race{
    display: flex;
    gap: 12px;
    align-items: center;
}

.sprint{
    display: flex;
    gap: 6px;
    align-items: center;
    background: linear-gradient(to right,#f59e0b,#ea580c);
    padding: 4px 10px;
    border-radius: var(--border-radius);
}

.sprint svg{
    width: 14px;
    height: 14px;
}

.sprint p{
    font-family: var(--text-font);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 600;
}

/* Smooth arrow rotation */
.racestatus_container svg {
  transition: transform 200ms ease;
  transform-origin: center;
}

.racestatus_container svg.is-rotated {
  transform: rotate(180deg);
}


/* SECOND SECTION */

.secondsection_wrapper{
    padding: 64px 10px;
    background-color: #02040a;
    border-top: var(--border-grey);
    width: 100%;
}

.secondsection_container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.items_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 250px;
    width: 100%;
}

.item h3{
    font-size: 32px;
    font-family: var(--title-font);
    color: var(--red-color);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 2px;
}

.item h4{
    color: var(--grey-color);
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
}

.hidden{
    display: none;
}

@media (max-width: 1024px) {
    .main_title h1{
        font-size: 64px;
        margin-right: auto;
    }
    .main_title{
        margin: auto;
        align-items: center;
    }
    .main_container{
        width: 90%;
    }
    .raceinfo_container {
        align-items: flex-start;
        gap: 20px;
    }
    .racestats {
        flex-wrap: wrap;
        gap: 20px;
    }
    .racestat{
        gap: 6px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .main_title h1{
        font-size: 50px;
        line-height: 1.2;
    }
    .racestatus_container{
        margin-left: auto;
    }
    .items_container{
        flex-direction: column;
    }
    .items_container{
        flex-direction: column;
        gap: 20px;
    }
}