:root {
    --title-font: "Chakra Petch", system-ui, sans-serif;
    --text-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --subtitle-font: "Rajdhani", system-ui, sans-serif;
    --red-color: #cc0000;
    --text-color: #94a3b8;
    --white-color: #fff;
    --grey-color: #96999d;
    --border-radius: 8px;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --border-grey: 1px solid #FFFFFF1A;
    --redbg-hover: #bf0000;
    --red-gradient: linear-gradient(to right, var(--red-color) 0%, rgba(255, 0, 59, 0.6) 100%);
    --dark-bg: #0a0d12;
}

/* AFTER TITLES GRADIENT ADD
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
*/

*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{ height:100%; }

body{
    background-color: var(--dark-bg);
    overflow-x: hidden;
}

.main_container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.main_title{
    max-width: 680px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: var(--padding-bottom);
}

.main_title h1{
    color: var(--white-color);
    font-size: 96px;
    font-family: var(--title-font);
    font-style: italic;
    line-height: 0.8;
    text-transform: uppercase;
}

.main_title h1 span{
    background: var(--red-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main_title h2{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

.main_title h2 span{
    font-weight: 400;
}

.teams{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.team{
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--border-grey);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    padding: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.team_stats{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 350px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.team_name{
    width: 100%;
}

.team_name h3{
    font-family: var(--title-font);
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
}

.team_info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
    gap: 12px;
    align-items: flex-start;
}

.team_year, .team_location, .team_points{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: flex-start;
}

.team_year p, .team_location p, .team_points p{
    font-size: 14px;
    font-family: var(--text-font);
    color: var(--grey-color);
    letter-spacing: 0.6px;
    line-height: 1.3;
    font-weight: 700;
}

.team_year span, .team_location span{
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--white-color);
    letter-spacing: 0.6px;
    line-height: 1.3;
    font-weight: 700;
}

.team_points span{
    font-family: var(--title-font);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
}

.team_description{
    width: 100%;
}

.team_description p{
    font-size: 14px;
    font-family: var(--text-font);
    color: var(--grey-color);
    letter-spacing: 0.6px;
    line-height: 1.3;
    font-weight: 500;
}

.team_drivers_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    width: 100%;
    gap: 24px;
}

.team_drivers_title{
    display: flex;
    align-items: center;
    gap: 12px;
}

.team_drivers_title p{
    font-family: var(--title-font);
    color: var(--white-color);
    letter-spacing: 0.9px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
}

.drivers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.driver{
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    border-radius: var(--border-radius);
    border: var(--border-grey);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
}

.driver_info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.driver_name{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.driver_name h3{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}

.driver_name img{
    width: 20px;
    height: 20px;
}

.driver_stats {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.driver_position, .driver_points{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: flex-start;
}

.driver_points{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: flex-end;
}

.driver_position p, .driver_points p{
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--grey-color);
    letter-spacing: 0.6px;
    line-height: 1.3;
    font-weight: 700;
}

.driver_position span{
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--white-color);
    letter-spacing: 0.6px;
    line-height: 1.3;
    font-weight: 700;
}

.driver_points span{
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
}

/* TEAMS BG */

.mclaren{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/mclaren_bg.webp);
}

.mercedes{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/mercedes_bg.webp);
}

.ferrari{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/ferrari_bg.webp);
}

.redbull{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/redbull_bg.webp);
}

.williams{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/williams_bg.webp);
}

.racingbulls{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/racingbulls_bg.webp);
}

.astonmartin{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/astonmartin_bg.webp);
}

.audi{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/audi_bg.webp);
}

.haas{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/haas_bg.webp);
}

.alpine{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/apline_bg.webp);
}

.cadillac{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url(../img/escuderia-bg-vertical/cadillac_bg.webp);
}

/* TEAMS COLORS */

.mclaren_color{
    color: #ff8904;
}

.mercedes_color{
    color: #00d3f3;
}   

.ferrari_color{
    color: #cc0000;
}

.redbull_color{
    color: #4781D7;
}

.williams_color{
    color: #1868DB;
}

.racingbulls_color{
    color: #6C98FF;
}

.astonmartin_color{
    color: #05df72;
}

.haas_color{
    color: #99a1af;
}

.audi_color{
    color: #fff;
}

.alpine_color{
    color: #fb64b6;    
}

.cadillac_color{
    color: #99a1af;
}

/* SECOND SECTION */

.secondsection_wrapper{
    padding: 64px 10px;
    background-color: #02040a;
    border-top: var(--border-grey);
    width: 100%;
}

.secondsection_container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.items_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 250px;
    width: 100%;
}

.item h3{
    font-size: 32px;
    font-family: var(--title-font);
    color: var(--red-color);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 2px;
}

.item h4{
    color: var(--grey-color);
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 500;
}
