:root {
    --title-font: "Chakra Petch", system-ui, sans-serif;
    --text-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --subtitle-font: "Rajdhani", system-ui, sans-serif;
    --red-color: #cc0000;
    --text-color: #94a3b8;
    --white-color: #fff;
    --grey-color: #96999d;
    --border-radius: 8px;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --border-grey: 1px solid #FFFFFF1A;
    --redbg-hover: #bf0000;
    --red-gradient: linear-gradient(to right, var(--red-color) 0%, rgba(255, 0, 59, 0.6) 100%);
    --dark-bg: #0a0d12;
}

/* AFTER TITLES GRADIENT ADD
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
*/

*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{ height:100%; }

body{
    background-color: var(--dark-bg);
    overflow-x: hidden;
}

.main_container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.main_title{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: var(--padding-bottom);
}

.main_title h1{
    color: var(--white-color);
    font-size: 96px;
    font-family: var(--title-font);
    font-style: italic;
    line-height: 0.8;
    text-transform: uppercase;
}

.main_title h1 span{
    background: var(--red-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main_title h2{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

.main_title h2 span{
    font-weight: 400;
}

/* GUIA */

.guia_container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding-bottom: 80px;
}

.monoplazas{
  background-color: rgba(0, 0, 0, 0.35);

  /* Gradiente encima */
  background-image: linear-gradient(
    to right,
    rgba(37, 99, 235, 0.12),
    rgba(37, 99, 235, 0)
  );

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.guia{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.guia_item_container{
    border-radius: var(--border-radius);
    border: var(--border-grey);
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.guia_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.guia_title svg{
    color: var(--white-color);
}

.title_name{
    display: flex;
    align-items: center;
    gap: 12px;
}

.title_name svg{
    width: 20px;
    height: 20px;
}

.title_name h3{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 700;
}

.guia_item{
    padding-top: 24px;
}

.guia_subtitle{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--text-font);
    line-height: 1.5;
}

.car_container, #monoplazas-content{
    width: 100%;
}

.item_details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    margin-top: 24px;
}

.item_detail{
    border: var(--border-grey);
    border-radius: var(--border-radius);
    background-color: #0000004d;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item_detail h4{
    color: var(--red-color);
    font-family: var(--title-font);
    font-size: 20px;
}

.items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.items p{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--text-font);
    line-height: 1.5;
}

.items p span{
    color: var(--white-color);
    font-weight: 500;
}

.item_details h4{
    color: var(--red-color);
    font-family: var(--title-font);
    font-size: 20px;
}

.neumaticos{
    background-color: rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(
    to right,
    rgba(202, 138, 4, 0.10),  
    rgba(202, 138, 4, 0)
    );
}

.neumaticos_container{
    margin: 24px 0;
    display: flex;
    width: 100%;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.neumatico{
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.neumatico div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.neumatico img{
    filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 25.45));
    max-width: 100px;
    width: 100%;
    height: auto;
}

.duro{
    background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.10),
    rgba(255, 255, 255, 0.05)
    );
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.medio{
    background: linear-gradient(
    to bottom right,
    rgba(234, 179, 8, 0.10),   
    rgba(202, 138, 4, 0.05)   
    );
    border: 1px solid rgba(250, 204, 21, 0.30);
}

.blando{
    background: linear-gradient(
    to bottom right,
    rgba(239, 68, 68, 0.10),  
    rgba(220, 38, 38, 0.05)   
    );
    border: 1px solid rgba(248, 113, 113, 0.30);
}

.verde{
    background: linear-gradient(
        to bottom right,
        rgba(34, 197, 94, 0.10),  
        rgba(22, 163, 74, 0.05)   
    );
    border: 1px solid rgba(74, 222, 128, 0.30); 
}

.azul{
    background: linear-gradient(
    to bottom right,
    rgba(59, 130, 246, 0.10),
    rgba(37, 99, 235, 0.05)    
    );
    border: 1px solid rgba(96, 165, 250, 0.30);
}

.neumatico h5{
    font-family: var(--text-font);
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.3;
}

.neumatico p{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

.banderas{
    border: 1px solid rgba(255, 255, 255, 0.10);
      background-image: linear-gradient(
    to right,
    rgba(234, 88, 12, 0.10),
    rgba(234, 88, 12, 0)
    );
}

.item_details_flags{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 24px;
}

.flag{
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 330px;
    width: 100%;
    border: var(--border-grey);
    border-radius: var(--border-radius);
    background-color: #0000004d;
    padding: 16px;
}

.flag svg{
    width: 60px;
    height: 60px;
}

.flag div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flag div h5{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 14px;
}

.flag div p{
    font-family: var(--text-font);
    color: var(--text-color);
    line-height: 1.5;
    font-size: 12px;
}

.formatos{
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(
        to right,
        rgba(147, 51, 234, 0.10),
        rgba(147, 51, 234, 0)
    );
}

.items div p{
    color: var(--white-color);
    font-weight: 600;
    font-size: 16px;
}

.items div span{
    color: var(--text-color);
    font-size: 14px;
    font-family: var(--text-font);
}

.puntos{
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(
        to right,
        rgba(22, 163, 74, 0.10), /* green-600 */
        rgba(22, 163, 74, 0)
    );
}

.puntos_item{
    background-color: #0000004d;
    border: var(--border-grey);
    padding: 16px;
    width: 100%;
    border-radius: var(--border-radius);
}

.puntos_details_items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.puntos_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.puntos_details h5{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 16px;
    margin-top: 16px;
}

.puntos_details ul{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.puntos_details ul li {
    max-width: 335px;
    width: 100%;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--text-font);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 600;
}

.puntos_details ul li span{
    color: var(--text-color);
    font-weight: 400;
}

.puntos_details div p{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.tecnologias{
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(
        to right,
        rgba(8, 145, 178, 0.10), 
        rgba(8, 145, 178, 0)
    );
}

.glosario{
    border: 1px solid rgba(255, 255, 255, 0.10);
    background-color: rgba(0, 0, 0, 0.35);
    background-image: linear-gradient(
        to right,
        rgba(79, 70, 229, 0.10), 
        rgba(79, 70, 229, 0)
    );
}

.hidden{
    display: none;
}

.car_container {
    width: 100%;
    min-height: 500px;
    position: relative;
    margin: 24px 0;
}

#monoplazas-content {
    width: 100%;
    min-height: 600px;
    height: 100%;
    position: relative;
}

#monoplazas-content canvas {
    display: block;
    width: 100% !important;
    height: 500px !important;
}

.hotspot {
  background: var(--dark-bg);
  padding: 4px 8px;
  border-radius: var(--border-radius);
  font-size: 12px;
  color: var(--primary-color);
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 0.8rem;
}

.hotspot {
    transition: background 0.5s;
    cursor: default;
}

.hotspot:hover {
  background: var(--red-color);
}

.tooltip {
  position: fixed;
  padding: 6px 10px;
  background-color: #202125c2;
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--border-radius);
  pointer-events: none;
  white-space: nowrap;
  z-index: 20;
  font-family: 'Rajdhani', sans-serif;
}

@media (max-width: 1024px) {
    .main_title h1{
        font-size: 64px;
        margin-right: auto;
    }
    .main_title{
        margin: auto;
        align-items: center;
    }
    .main_container, .guia_container{
        width: 90%;
    }
    .main_title h2{
        font-size: 16px;
        margin-right: auto;
    }
    .flag, .neumatico{
        max-width: 300px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .main_title h1{
        font-size: 50px;
        line-height: 1.2;
    }
    .items_container{
        flex-direction: column;
        gap: 20px;
    }
    .car_container {
        min-height: 250px;
    }
    
    #monoplazas-content {
        min-height: 250px !important;
        height: 250px !important;
    }
    
    #monoplazas-content canvas {
        height: 250px !important;
    }
        .hotspot {
        font-size: 10px !important;
        padding: 2px 5px;
    }
}