:root {
    --title-font: "Chakra Petch", system-ui, sans-serif;
    --text-font: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --subtitle-font: "Rajdhani", system-ui, sans-serif;
    --red-color: #cc0000;
    --text-color: #94a3b8;
    --white-color: #fff;
    --grey-color: #96999d;
    --border-radius: 8px;
    --padding-top: 60px;
    --padding-bottom: 60px;
    --border-grey: 1px solid #FFFFFF1A;
    --redbg-hover: #bf0000;
    --red-gradient: linear-gradient(to right, var(--red-color) 0%, rgba(255, 0, 59, 0.6) 100%);
    --dark-bg: #0a0d12;
}

/* AFTER TITLES GRADIENT ADD
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
*/

*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-bg);
}

.main_container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.main_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.main_title div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
}

.main_title div img{
    max-width: 100px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 12px 20px rgba(0, 0, 0, 25.45));
    z-index: 0;
}

.main_title div h3{
    color: var(--white-color);
    font-size: 36px;
    font-family: var(--title-font);
    font-style: italic;
    line-height: 0.8;
    margin-top: -10px;
    z-index: 100;
}

.main_title div span{
    background: var(--red-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main_title h1{
    color: var(--white-color);
    font-size: 96px;
    font-family: var(--title-font);
    font-style: italic;
    line-height: 0.8;
    max-width: 510px;
    width: 100%;
}

.main_title h1 span{
    background: var(--red-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main_title h2{
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

/* SECOND SECTION / LAST POST */

.second_wrapper{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: #0a0d12;
}

.second_container{
    border-radius: 16px;
    border: var(--border-grey);
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.last_post{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    background-color: #000;
    border-radius: 16px;
    height: 500px;
    overflow: hidden;
}

.last_post_img{
    max-width: 750px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.last_post_img img{
    width: 100%;
    height: auto;
    border-radius: 16px 0 0px 16px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.last_post_img:hover img {
  transform: scale(1.1);
}

.last_post_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    width: 100%;
    padding: 48px 48px 48px 0;
}

.last_post_banners{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
}

.banner_1{
    display: flex;
    gap: 6px;
    background-color: var(--red-color);
    padding: 4px 12px;
    border-radius: var(--border-radius);   
    align-items: center;
    justify-content: center;
    width: auto;
}

.banner_1 svg{
    width: 12px;
    height: 12px;
}

.banner_1 p{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.banner_2{
    border-left: var(--border-grey);
    padding-left: 16px;
}

.banner_2 p{
    font-family: var(--subtitle-font);
    color: var(--grey-color);
    font-size: 12px;
    line-height: 1.3;
    font-weight: 500;
}

.last_post_textbox{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.last_post_textbox h2{
    font-size: 48px;
    line-height: 1.1;
    font-family: var(--title-font);
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #f2f2f2 40%,
        #96999d 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-bottom: 16px;
}

.last_post_textbox h3{
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.6;
}

.last_post_author{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.author, .date{
    display: flex;
    gap: 8px;
    align-items: center;
}

.author p, .date p{
    font-family: var(--subtitle-font);
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.4;
    font-weight: 500;
}

.author svg, .date svg{
    width: 16px;
    height: 16px;
}

/* Contenedor opcional */
.post_button{
  display: flex;
}

/* BOTÓN BASE */
.post_button a{
    --skew: -14deg;
    display: flex;
    align-items: center;
    gap: 14px;
    height: 56px;
    width: auto;
    padding: 0 28px;
    background: var(--white-color);
    color: #000;
    text-decoration: none;
    letter-spacing: .06em;
    text-transform: uppercase;
    transform: skewX(var(--skew));
    border-radius: 2px;
    box-shadow: 0 12px 24px rgba(0,0,0,.35);
    transition: all .25s ease;
    font-family: var(--title-font);
    font-size: 20px;
    font-weight: 700;
}

/* Enderezamos texto e íconos */
.post_button a p,
.post_button a svg{
    transform: skewX(14deg);
}

/* TEXTO */
.post_button a p{
    margin: 0;
    font-size: 15px;
    white-space: nowrap;
}

/* ICONOS */
.post_button a svg{
    width: 20px;
    height: 20px;
}

/* HOVER */
.post_button a:hover{
    filter: brightness(1.08);
    transform: skewX(var(--skew)) translateY(-1px);
}

/* THIRD SECTION - LAST OPINIONS */

.third_wrapper{
    padding-bottom: var(--padding-bottom);
    background-color: #0a0d12;
    padding-top: var(--padding-top);
}

.third_container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third_title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.third_title h2{
    font-family: var(--title-font);
    font-weight: 700;
    font-style: italic;
    color: var(--white-color);
    font-size: 48px;
    line-height: 1;
    margin-bottom: 60px;
}

.third_title h2 span{
    background: linear-gradient(to right, var(--red-color) 0%, rgba(255, 0, 59, 0.6) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.third_title button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.third_title button a{
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--title-font);
    letter-spacing: 0.7px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 700;
    transition: .5s all ease;
}

.third_title button a:hover{
    color: var(--red-color);
}

.lastopinions_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 36px;
    gap: 20px;
}

.last_opinion{
    max-width: 450px;
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    border: var(--border-grey);
    border-radius: var(--border-radius);
    transition: color 0.3s ease;
}

.last_opinion:hover{
    border: 1px solid var(--redbg-hover);
}

.last_opinion img{
    max-width: 450px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: var(--border-grey);
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 16px;
}

.last_opinion_text{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 14px;
    padding: 0 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    border-bottom: var(--border-grey);
    padding-bottom: 16px;
}

.last_opinion div{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
    padding: 0 16px 16px 16px;
}

.last_opinion div h4{
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.last_opinion div svg{
    width: 12px;
    height: 12px;
}

.last_opinion h3{
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    transition: all .3s ease;
    padding: 0 16px;
    margin-bottom: 16px;
}

.last_opinion:hover h3 {
    color: var(--red-color);
}

/* RESPONSIVE DESIGN */

@media (max-width: 1024px) {
    .main_title h1{
        width: 80%;
        font-size: 64px;
    }
    .main_title{
        margin: auto;
        align-items: center;
    }
    .main_title div h3 {
        font-size: 20px;
    }
    .second_container,.third_container, .presentation_container, .first_container, .fifth_container, .main_title{
        width: 90%;
    }
    .last_post{
        height: auto;
        flex-direction: column;
    }
    .last_post_img img{
        border-radius: 12px 12px 0 0;
    }
    .last_post_info{
        max-width: 100%;
        padding: 24px;
    }
    .last_opinion{
        max-width: 220px;
    }
    .last_opinion h3{
        font-size: 18px;
    }
    .last_opinion img{
        max-width: 100%;
        height: 280px;
    }
    .third_title h2{
        font-size: 30px;
    }
    .third_wrapper{
        padding-top: 0;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .main_title h1{
        font-size: 50px;
        line-height: 1.2;
    }
    .main_title div{
        display: none;
    }
    .last_post_textbox h2{
        font-size: 36px;
    }
    .lastopinions_container{
        flex-direction: column;
        gap: 36px;
    }
    .last_opinion{
        max-width: 100%;
    }

}